/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #1e212e;
    --secondary-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}

header {
    padding: 5rem 15rem 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header .logo {
    padding-right: 17em;
}

header .logo a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

/* Style the navigation menu */
header .menu ul {
    list-style: none;
    display: flex;
}

header .menu ul li {
    margin-left: 3em;
    font-weight: bolder;
}

header .menu ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu {
    display: flex;
    align-items: center; /* Center items vertically */
}

#icon {
    width: 30px;
    cursor: pointer;
    padding-left: 1.5em; /* Adjust the margin to match the spacing */
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem;
}

p {
    padding-top: .5em;
    line-height: 1.5;
}

p, li {
    padding-top: .4em;
}

p, li, h3 {
    color: var(--secondary-color);
}

.about img {
    padding: 0;
    float: right;
    width: 16.375rem;
    height: 16.375rem;
    border-radius: 2rem;
    margin-left: 2em;
}


main article {
    margin-bottom: 40px;
}

article img {
    padding-top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    padding-right: 1.4rem;
}

footer {
    text-align: center;
}
